.login-container {
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.subtitle {
    text-align: center;
    font-size: 16pt;
    color: lightseagreen;
    font-family: 'Nunito', sans-serif;
}

.form {
    display: block;
    margin: 0 auto;
    width: 500px;
}

.radio-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
}

.radio-wrapper .form-check {
    margin-right: 20px;
}

label {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.logo {
    display: block;
    margin: 0 auto;
}

.makeininda {
    height: 50px !important;
}